body {
    background-color: #222222;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2vw;
}

header {
    text-align: center;
    margin-bottom: 3vw;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 3.5vw;
    max-font-size: 50px;
}

h2 {
    font-size: 3vw;
    margin-top: 3vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 2.5vw;
    margin-right: 1vw;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
}

.price {
    margin-left: 2vw;
}

.item-list {
    display: none;
}

.item-list.show {
    display: block;
}

/* Colore dei testi delle categorie */
.category {
    background-color: #333333;
    padding: 2vw;
    border-radius: 5vw; /* Imposta il border-radius a 5vw per arrotondare gli angoli */
    margin-bottom: 2vw;
    color: white; /* Il colore del testo delle categorie è bianco di default */
    
    /* Aggiungi contorno alle card delle categorie */
    outline: 1px solid #f7f612;
}

/* Colore del testo delle categorie quando la card è espansa */
.category .category-title.expanded {
    color: #f7f612;
}



/* Media Query per dispositivi con larghezza inferiore a 600px */
@media (max-width: 600px) {
    h1 {
        font-size: 6vw;
        margin-top: 4vw;
    }

    h2 {
        font-size: 5vw;
        margin-top: 4vw;
    }

    .arrow {
        font-size: 4vw;
    }

    li {
        font-size: 4vw;
        margin-top: 2vw;
    }

    .container {
        padding: 4vw;
    }
}

/* Media Query per dispositivi con larghezza compresa tra 601px e 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 2.5vw;
        margin-top: 3vw;
    }

    h2 {
        font-size: 2.2vw;
        margin-top: 3vw;
    }

    li {
        font-size: 2.2vw;
        margin-top: 1.5vw;
    }

    .container {
        padding: 3vw;
    }
}

/* Media Query per dispositivi con larghezza maggiore di 1200px */
@media (min-width: 1201px) {
    h1 {
        font-size: 30px;
        margin-top: 2vw;
    }

    h2 {
        font-size: 26px;
        margin-top: 2vw;
    }

    li {
        font-size: 20px;
        margin-top: 1vw;
    }

    .container {
        padding: 2vw;
    }
}

